:root {
	--off-white: #dcdcdc;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--off-white);
}

/* TITLE */
/* TITLE */
/* TITLE */

.overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	animation: fadeIn 1.5s ease-in-out;
	z-index: 2;
	pointer-events: none;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.landing-content {
	backdrop-filter: blur(1rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;
	padding: 2rem;
	
}

.header-title {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	position: relative;
	cursor: default;
	transition: 1s ease-in-out;
	text-shadow: black 0px 0 30px;
	color: white;
	pointer-events: auto;
}

.header-title span {
	display: inline-block;
	transition: transform, opacity, filter;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out
}

.not {
	font-size: 4rem;
	opacity: 0;
	filter: blur(5px);
	font-family: velzyland;
	transition: 500ms ease-in-out;
}

/* move left */
.header-title:hover .seeing {
	transform: translateX(-1rem);
}

/* move right */
.header-title:hover .believing {
	transform: translateX(1rem);
}

/* show on hover */
.header-title:hover .not {
	opacity: 1;
	filter: blur(0);
	color: darkred;
	transition: 500ms ease;
}

.header-description {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	text-shadow: black 0px 0 30px;
	color: white;
	cursor: none;
}

.scroll {
	font-size: 1.5rem;
	position: absolute;
	bottom: 5rem;
	cursor: default;
}

.buttons {
	display: flex;
	gap: 2rem;
	pointer-events: auto;
}

.buttons a {
	/* margin-top: 5rem; */
	padding: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	border-radius: 1rem;
	transition: .5s ease;
}

.enter-button {
	background-color: darkgreen;
	color: white;
}

.enter-button:hover {
	background-color: green;
	color: white;
}

.leave-button {
	background-color: darkred;
	color: white;
}

.leave-button:hover {
	background-color: red;
	color: white;
}

/* CHECKERBOARD */
/* CHECKERBOARD */
/* CHECKERBOARD */

.checkerboard-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("https://openclipart.org/image/2000px/276846") center center / cover no-repeat;
}

/* The checkerboard grid overlay */
.checkerboard {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
  }

  .cell {
	width: 100%;
	height: 100%;
	transition: background-color 500ms;
	/* aspect-ratio: 1/1; */
  }

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */

/* Less than 600px */
@media (max-width: 600px) {
	.header-title {
		font-size: 2rem;
	}
	.not {
		font-size: 2.5rem;
		opacity: 1;
		filter: blur(0);
		color: darkred;
	}
	.seeing {
		transform: translateX(-1rem);
	}
	.believing {
		transform: translateX(1rem);
	}
}
/* Less than 400px */
@media (max-width: 400px) {
	.header-title {
		font-size: 1.5rem;
	}
	.not {
		font-size: 2rem;
	}
	.header-description {
		font-size: 1rem;
	}
}