body {
	font-family: Arial, Helvetica, sans-serif;
	background: #1c1c1c;
	color: var(--off-white);
}

Header {
	margin: 1rem;
	margin-top: 2rem;
	margin-bottom: 3rem;

	position: sticky;
	z-index: 1;
	top: 1rem;
}

Header ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

button {
	cursor: pointer;
}

.desktop-nav ul li {
	border-radius: .5rem;
	border: 2px solid transparent;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	cursor: pointer;
	background-color: white;
	color: black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.desktop-nav ul li:hover {
	background-color: rgb(255 255 255 / 30%);
	backdrop-filter: blur(10px);
	color: white;
	transition: var(--transition);
	border: 2px solid white;
}

#block-shuffle, #layout-shuffle {
	color: darkred;
}

img {
	width: auto;
	height: auto;
}

video {
	width: -webkit-fill-available;
	height: -webkit-fill-available;	
}

/* BLOCKS */
/* BLOCKS */
/* BLOCKS */

.block-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	transition: var(--transition);
}

.block {
	position: relative;
	aspect-ratio: 1/1;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	filter: blur(1rem);
	transition: var(--transition);
	background-color: white;
	cursor: pointer;
}

.block img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.block p {
	display: flex;
	align-items: center;
	overflow: hidden;
	color: black;
}

.block p:first-of-type{
	margin-bottom: 1rem;
	font-weight: bold;
}

.block iframe {
	width: 100%;
	height: 100%;
}

.block > p {
	height: -webkit-fill-available;
	padding: 1rem;
	border: 1px solid white;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: var(--transition);
}

.block:hover {
	opacity: 1;
	filter: blur(0);
}

.block:hover .overlay {
	opacity: 1;
	filter: blur(0);
}

.block.blur {
	filter: none;
}

.overlay-title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.25rem;
}

/* MULTIPLE GRID LAYOUT */
/* MULTIPLE GRID LAYOUT */
/* MULTIPLE GRID LAYOUT */

.original-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* transition: var(--transition); */
}

.grid-two {
	display: grid;
	grid-template-columns: repeat(3, 1fr)
}

.grid-two .block:first-of-type {
	grid-column: span 2;
	grid-row: span 2;
}

.grid-three {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1rem;
}

.mobile-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
	
	.block {
		width: 100vw;
		height: 100vh;
	}
}

.mobile-grid-two {
	gap: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin: 1rem;
	margin-top: 2rem;
	text-align: center;
}


/* MODAL */
/* MODAL */
/* MODAL */

#modal[open] {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

dialog#modal[open] #modal-content {
	transform: scale(1);
	opacity: 1;
}

dialog#modal::backdrop {
	backdrop-filter: blur(1rem);
	filter: brightness(50%);
}

#modal-content {
	width: 70vw;
	height: 70vh;
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
	transition: var(--transition);
}

.modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	transition: var(--transition);
	width: 100%;
	height: 100%;
}

.modal-container audio {
	width: 100%;
	height: 100%;
	background-image: url("https://cdn.pixabay.com/animation/2023/10/24/13/50/13-50-26-112_512.gif");
	background-color: white;
}

.modal-container iframe {
	width: -webkit-fill-available;
	height: 100%;
	
}

.modal-title {
	font-weight: bold;
	font-size: 2rem;
}

#close-modal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	z-index: 1;
}

/* HAMBURGER */
/* HAMBURGER */
/* HAMBURGER */

.mobile-nav-menu {
	display: none;
}

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */

@media (max-width: 1000px) {
	.block {
		width: 15rem;
		height: 15rem;
	}
}

  @media (max-width: 752px) {
	.block {
		width: 12rem;
		height: 12rem;
	}
}

@media (max-width: 430px) {
	Header ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		gap: 1rem;
	}

	/* .block.unblur {
		filter: none;
		transition: 1s ease-in-out;
	  } */

	  .block { 
		transition: none;
		width: -webkit-fill-available;
		height: -webkit-fill-available;
	  }
}