:root {
	--off-white: #dcdcdc;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #1c1c1c;
	color: var(--off-white);
}

Header {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

img {
	width: auto;
	height: auto;
}

video {
	width: -webkit-fill-available;
	height: -webkit-fill-available;	
}

.block-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.block {
	position: relative;
	aspect-ratio: 1/1;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	filter: blur(1rem);
	transition: .8s ease;
	background-color: white;
	cursor: pointer;
}

/* fit parent container */
.block img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.block p {
	display: flex;
	align-items: center;
	overflow: hidden;
	color: black;
}

.block p:first-of-type{
	margin-bottom: 1rem;
	font-weight: bold;
}

.block iframe {
	width: 100%;
	height: 100%;
}

/* CSS only applies to paragraph with immmediate parent as .block */
.block > p {
	height: -webkit-fill-available;
	padding: 1rem;
	border: 1px solid white;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: .8s ease;
}

.block:hover {
	opacity: 1;
	filter: blur(0);
}

.block:hover .overlay {
	opacity: 1;
	filter: blur(0);
}

.overlay-title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.25rem;
}

footer {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin: 1rem;
	margin-top: 2rem;
	text-align: center;
}

/* MODAL */
/* MODAL */
/* MODAL */

#modal[open] {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

dialog#modal[open] #modal-content {
	transform: scale(1);
	opacity: 1;
}

dialog#modal::backdrop {
	backdrop-filter: blur(1rem);
	filter: brightness(50%);
}

#modal-content {
	width: 70vw;
	height: 70vh;
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
	transition: .8s ease;
}

.modal-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	transition: .8s ease;
	width: 100%;
	height: 100%;
}

.modal-container audio {
	width: 100%;
	height: 100%;
	background-image: url("https://cdn.pixabay.com/animation/2023/10/24/13/50/13-50-26-112_512.gif");
	background-color: white;
}

.modal-container iframe {
	width: -webkit-fill-available;
	height: 100%;
	
}

.modal-title {
	font-weight: bold;
	font-size: 2rem;
}

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */

@media (max-width: 1000px) {
	.block {
		width: 15rem;
		height: 15rem;
	}
}

  @media (max-width: 752px) {
	.block {
		width: 12rem;
		height: 12rem;
	}
}