:root {
	--off-white: #dcdcdc;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #1c1c1c;
	color: var(--off-white);
	overflow-x: hidden;
	margin-bottom: 1rem;
}

.header-container {
	margin-bottom: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	animation: fadeIn 1.5s ease-in-out;

	/* gif background - can dynamically change later with API call */
	background: url("https://d2w9rnfcy7mm78.cloudfront.net/34050447/original_78ff05ccc8f87bbc80ef15442b656cd1.gif?1738039174?bc=0") no-repeat center center;
	background-size: cover;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.header-title {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	position: relative;
	cursor: default;
	transition: 1s ease-in-out;
}

.header-title span {
	display: inline-block;
	transition: transform, opacity, filter;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out
}

.not {
	font-size: 4rem;
	opacity: 0;
	filter: blur(5px);
	font-family: velzyland;
	transition: 1s ease-in-out;
}

/* move left */
.header-title:hover .seeing {
	transform: translateX(-1rem);
}

/* move right */
.header-title:hover .believing {
	transform: translateX(1rem);
}

/* show on hover */
.header-title:hover .not {
	opacity: 1;
	filter: blur(0);
	color: darkred;
	transition: 1s ease;
}

.header-description {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	cursor: default;
}

.scroll {
	font-size: 1.5rem;
	position: absolute;
	bottom: 5rem;
	cursor: default;
}

.buttons {
	display: flex;
	gap: 2rem;
}

.buttons p {
	margin-top: 5rem;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 1rem;
	transition: .5s ease;
}

.enter-button {
	border: 2px solid darkgreen;
}

.leave-button {
	border: 2px solid darkred;
}

.enter-button:hover {
	background-color: darkgreen;
	color: white;
}

.leave-button:hover {
	background-color: darkred;
	color: white;
}

.block-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 1rem;
	justify-content: center;
}

.block {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 20rem;
	height: 20rem;
	border-radius: 10px;
	overflow: hidden;
}

.block p {
	display: flex;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
}

/* CSS only applies to paragraph with immmediate parent as .block */
.block > p {
	height: -webkit-fill-available;
	padding: 1rem;
	border: 5px solid white;
}

/* fit parent container */
.block img {
	height: 100%;
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	opacity: 0;
	transition: .8s ease;

	/* very cool, just learned about this property */
	backdrop-filter: blur(0px);
}

.block:hover .overlay {
	opacity: 1;
	backdrop-filter: blur(.5rem);
}

.overlay-title {
	margin-bottom: 1rem;
	font-weight: bold;
	font-size: 1.25rem;
}

footer {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
}

/* Less than 700px */
@media (max-width: 700px) {
	.block {
		width: 15rem;
		height: 15rem;
	}
}

/* Less than 600px */
@media (max-width: 600px) {
	.header-title {
		font-size: 2rem;
	}

	.not {
		font-size: 2.5rem;
		opacity: 1;
		filter: blur(0);
		color: darkred;
	}

	.seeing {
		transform: translateX(-1rem);
	}

	.believing {
		transform: translateX(1rem);
	}
}

/* Less than 400px */
@media (max-width: 400px) {
	footer {
		display: flex;
		flex-direction: column;
	}

	.header-title {
		font-size: 1.5rem;
	}

	.not {
		font-size: 2rem;
	}

	.header-description {
		font-size: 1rem;
	}
}