:root {
	--off-white: #dcdcdc;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #1c1c1c;
	color: var(--off-white);
	overflow-x: hidden;
	margin-bottom: 1rem;
}

.header-container {
	margin-bottom: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	animation: fadeIn 1.5s ease-in-out;

	/* gif background - can dynamically change later with API call */
	background: url("https://d2w9rnfcy7mm78.cloudfront.net/34050447/original_78ff05ccc8f87bbc80ef15442b656cd1.gif?1738039174?bc=0") no-repeat center center;
	background-size: cover;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.header-title {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
	position: relative;
	cursor: default;
	transition: 1s ease-in-out;
}

.header-title span {
	display: inline-block;
	transition: transform, opacity, filter;
	transition-duration: 0.9s;
	transition-timing-function: ease-in-out
}

.not {
	font-size: 4rem;
	opacity: 0;
	filter: blur(5px);
	font-family: velzyland;
	transition: 1s ease-in-out;
}

/* move left */
.header-title:hover .seeing {
	transform: translateX(-1rem);
}

/* move right */
.header-title:hover .believing {
	transform: translateX(1rem);
}

/* show on hover */
.header-title:hover .not {
	opacity: 1;
	filter: blur(0);
	color: darkred;
	transition: 1s ease-in-out;
}

.header-description {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	cursor: default;
}

.scroll {
	font-size: 1.5rem;
	position: absolute;
	bottom: 5rem;
	cursor: default;
}

.block-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin: 1rem;
	justify-content: center;
}

.block {
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 10rem;
	height: 10rem;
	border-radius: 10px;
	overflow: hidden;
}

/* CSS only applies to block with paragraph element */
.block p {
	height: -webkit-fill-available;
	padding: 1rem;
	display: flex;
	align-items: center;
	border: 5px solid white;
	border-radius: 10px;
	overflow: hidden;
}

/* fit parent container */
img {
	height: 100%;
	width: 100%;
}

footer {
	display: flex;
	justify-content: space-around;
}
